<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Firm ID</th>
                <th scope="col">Firm Name</th>
                <th scope="col">Type</th>
                <th scope="col">Date Added</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr style="cursor: pointer;" *ngFor="let investor of this.investorsResponse?.data"
                routerLink="/Investor/{{investor?.firmID}}">
                <th scope="row">{{investor?.firmName}}</th>
                <td>{{investor?.firmName}}</td>
                <td>{{investor?.firmType}}</td>
                <!-- Date Added field is missing -->
                <td></td>
                <td>{{investor?.address}}</td>
            </tr>
        </tbody>
    </table>
</div>